
<% unless @mail_template.blank? %>
  <table class="table_style">
    <tr>
      <th align="left"><%= t("mail_template.title") %></th>
      <td><%= @mail_template.title %></td>
    </tr>

<% if false %>
    <tr>
      <th align="left"><%= t("mail_template.from") %></th>
      <td><%= @mail_template.from %></td>
    </tr>

    <tr>
      <th align="left"><%= t("mail_template.to") %></th>
      <td><%= @mail_template.to %></td>
    </tr>

    <tr>
      <th align="left"><%= t("mail_template.cc") %></th>
      <td><%= @mail_template.cc %></td>
    </tr>

    <tr>
      <th align="left"><%= t("mail_template.bcc") %></th>
      <td><%= @mail_template.bcc %></td>
    </tr>
<% end %>

    <tr>
      <th align="left"><%= t("mail_template.reply_to") %></th>
      <td><%= @mail_template.reply_to %></td>
    </tr>

    <tr>
      <th align="left"><%= t("mail_template.subject") %></th>
      <td><%= @mail_template.subject %></td>
    </tr>

    <tr>
      <th align="left"><%= t("mail_template.body") %></th>
      <td><%= @mail_template.body %></td>
    </tr>
  </table>
  
  <br />
  <br />
  
  <span class="menu">
    <%= link_to t("menu.list"), { :action => "index", :page => params[:page] } %>
    <%= link_to t("menu.edit"), { :action => "edit", :id => @mail_template.id, :page => params[:page] } %>
  </span>
  
  <br />
<% else %>
  <span class="menu">
    <%= link_to t("menu.list"), { :action => "index", :page => params[:page] } %>
  </span>
<% end %>
