
<% unless @member.blank? %>
  <% form_for @member, :url =>{ :action => "update", :id => @member.id, :page => params[:page] } do |f| %>
    <%= f.error_messages %>
  
    <%# メンバー名 %>
    <%= f.label :name, t("member.name") %>：<br />
    <%= f.text_field :name, :class => "input_field_width_200" %><br />

    <br />

    <%# メールアドレス %>
    <%= f.label :mail_address, t("member.mail_address") %>：<br />
    <%= f.text_field :mail_address, :class => "input_field_width_200" %><br />

    <br />

    <%= f.submit t("menu.save"), :disable_with => t("menu.save") %><br />
  
  <% end %>
  
  <br />
  <br />
  
  <span class="menu">
    <%= link_to t("menu.list"), { :action => "index", :page => params[:page], :group_id => @member.group_id, :group_page => params[:group_page] } %>
    <%= link_to t("menu.show"), { :action => "show", :id => @member.id, :page => params[:page], :group_page => params[:group_page] } %>
  </span>
  
  <br />
<% else %>
  <span class="menu">
    <%= link_to t("menu.list"), { :action => "index", :group_id => params[:group_id], :page => params[:page], :group_page => params[:group_page] } %>
  </span>
<% end %>